@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');
*,
*::after,
*::before
{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body
{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

header
{
    height: 80vh;
    background-color: #0A183D;
    color: white;
    nav
    {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-top: 20px;
    }

    li
    {
        list-style: none;
        float: left;
        margin-left: 50px;
        
    }

}

.music-cont
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 110px;

    span
    {
        color: #EF0257;
    }

    h2
    {
        font-size: 66px;
        line-height: 55px;
    }
    p
    {
        font-weight: 300;
        margin-top: 28px;
    }

    button
    {
        border: none;
        background-color:#EF0257;
        padding: 20px 35px;
        color: white;
        font-family: 'Montserrat', sans-serif;
        margin-top: 35px;
        margin-right: 20px;
        border-radius: 80px;
        cursor: pointer;
    }
    .ft
    {
        background-color: #383B70;
    }

}

.unlimit
{
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    h2
    {
        font-size: 55px;
    }
    p
    {
        color: rgba(0, 0, 0,0.7);
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 20px;
    }
    button
    {
        border: none;
        background-color: #EF0257;
        padding: 20px 45px;
        font-family: 'Montserrat', sans-serif;
        color: white;
        font-size: 14px;
        border-radius: 80px;
    }

}

.three
{
    height: 75vh;
    background-color: #0A183D;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    h2
    {
        font-size: 60px;
        font-weight: 500;
        line-height: 60px;
    }

    h3
    {
        font-size: 30px;
        font-weight: 500;
        line-height: 60px;
        color: #EF0257;
    }

    p
    {
        margin-top: 18px;
    }

    button
    {
        border: none;
        padding: 20px 45px;
        font-family: 'Montserrat', sans-serif;
        color: white;
        background-color:#EF0257;
        font-size: 14px;
        border-radius: 80px;
        margin-top: 40px;
    }

    img
    {
        margin-right:60px ;
        border-radius: 60px;
        border: 2px solid #EF0257;
        padding: 15px;
    }
}

footer
{
    height: 35vh;
    background-color: #08192D;
    display: flex;
    justify-content: space-around;

    align-items: center;

    li
    {
        list-style: none;
        float: left;
        margin-right: 50px;
        color: white;
        font-size: 20px;
        cursor: pointer;
    }
}

.foot-one
{
    display: flex;
    flex-direction: column;
}

.icon
{
    font-size: 50px;
    margin-top: 15px;
    color: #EF0257;

    i
    {
        margin-right: 25px;
    }
}